{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Distribued Art - Triangle Snake Command{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Background color: {{red}}, {{green}}, {{blue}}</h1>
  <h1>Period: {{period}}  Colormode: {{colormode}} </h1>
</div>
<form class="form form-horizontal" method="post" role="form">
  {{ form.csrf_token }}
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  {{ wtf.quick_form(form) }}
</form>
{% endblock %}
